.Banner {
  background-color: var(--color-primary);
  color: var(--color-bg-main);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.Banner > .main-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.banner-main-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}