.dark-mode-toggle-btn {
  background: none;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: .3rem;
  color: var(--color-primary);
  cursor: pointer;
  outline: none;
  padding: .3rem .5rem;
}

.dark-mode-toggle-btn:hover {
  border-color: var(--color-primary);
}