.Filters {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 12rem;
}

.Filters > div:not(:last-child) {
  margin-block-end: 2rem;
}

.Filters h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}